<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="icon" href="/static/images/favicon.png"/>
    <title>AutoAudit 安全审计平台</title>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="../static/images/autoaudit1.svg" alt="" width="124"/>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload' %}">Analyzing</a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link btn btn-outline-secondary px-4 mx-4"
                            href="{% url 'chatbot' %}"
                    >Chat With LLM</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="header position-relative mt-6 overflow-hidden">
    <img
            src="/static/images/decoration-star.svg"
            alt=""
            class="decoration-star position-absolute"
    />
    <img
            src="/static/images/decoration-star.svg"
            alt=""
            class="decoration-star-2 position-absolute"
    />
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="mt-6">
                    <h1 class="xl-text">
                        Auto<span class="text-primary">Security</span> Audit Platform
                    </h1>
                    <p class="lead mb-4">
                        The platform is an LLM-based security audit platform
                        designed to provide a more diverse means of detecting security risks
                    </p>
                    <a href="{% url 'upload' %}" class="btn btn-primary btn-lg m-2">
                        Get Started
                    </a>
                    <a href="{% url 'chatbot' %}" class="btn btn-outline-secondary btn-lg m-2">
                        Chat with LLM
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img src="/static/images/header.png" alt="" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Stats -->
<section id="stats" class="stats container">
    <div class="row my-6">
        <div class="col-md-3 col-sm-6 text-center">
            <h2 class="counter xl-text" data-target="758"></h2>
            <p>Training Data</p>
        </div>

        <div class="col-md-3 col-sm-6 text-center">
            <h2 class="counter xl-text" data-target="285"></h2>
            <p>Issues Solved</p>
        </div>

        <div class="col-md-3 col-sm-6 text-center">
            <h2 class="counter xl-text" data-target="10"></h2>
            <p>Security Field</p>
        </div>

        <div class="col-md-3 col-sm-6 text-center">
            <h2 class="counter xl-text" data-target="128"></h2>
            <p>Training Hour</p>
        </div>
    </div>
</section>

<!-- Introduction -->
<section id="introduction" class="intro bg-light py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2>
                    Start <span class="text-secondary">Inspiring</span> Security
                    Audit
                </h2>
                <p class="fs-5">
                    Using LLMs in the security audit platform enhances code analysis, improves threat detection, and
                    allows for customization based on specific needs, ultimately helping organizations identify and
                    address security risks effectively.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Details 1 -->
<section
        id="details"
        class="details position-relative my-6 overflow-hidden"
>
    <img
            src="/static/images/decoration-star.svg"
            alt=""
            class="decoration-star position-absolute"
    />
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container d-flex justify-content-center">
                    <img src="../static/images/details-1.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4">
                    <h2 class="mb-4">
                        Powered By <span class="text-primary">Unique</span> Security LLM
                    </h2>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-5"></i>
                            <p>
                                Comprehensive analysis of code in multiple languages.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-5"></i>
                            <p>
                                Contextual understanding for accurate threat detection.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-5"></i>
                            <p>
                                Continuous learning for detecting new and unknown threats.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-5"></i>
                            <p>
                                Scalability and efficiency in handling large-scale codebases.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section id="services" class="services bg-light py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container text-center text-lg-start">
                    <h2>
                        <span class="text-secondary">Services</span> that we offer
                    </h2>
                    <p>
                        Our AutoAudit is driven by LLM, providing solutions to a range of specialized security problems
                        and
                        supporting users to interact with LLM for Q&A in the security domain.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row mb-4">
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-rocket fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">SQL injection Analysis & Solution</p>
                    </div>
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-clock fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">XSS Attack Analysis & Solution</p>
                    </div>
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-comments fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Bash Attack Analysis & Solution</p>
                    </div>
                </div>
                <div class="row">
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-tools fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Javascript Detection ＆ Solution</p>
                    </div>
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-chart-pie fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">High-level language detection</p>
                    </div>
                    <div
                            class="col-md-4 d-flex flex-column align-items-center text-center"
                    >
                        <i class="fas fa-chart-bar fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Security problem interaction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Details 2 -->
<section class="details-2 position-relative my-6 overflow-hidden">
    <img
            src="/static/images/decoration-star.svg"
            alt=""
            class="decoration-star position-absolute"
    />
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container text-center text-lg-start mb-4">
                    <h2>
                        Introduce Our Security Tool For Enhanced
                        <span class="text-primary">Productivity</span>
                    </h2>
                    <p>
                        Generative AI, now available in preview, provides a powerful tool to empower defenders in detecting hidden patterns,
                        strengthening defenses, and enhancing incident response capabilities. By leveraging the capabilities of generative AI,
                        defenders can gain valuable insights and take proactive measures to protect their systems and networks.
                    </p>
                    <a href="{% url 'upload' %}" class="btn btn-primary">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container d-flex justify-content-center">
                    <img src="../static/images/details-2.png" alt="" class="iimg-fluid"/>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer bg-light py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-3">
                <h6>About AutoAudit</h6>
                <p>
                    AutoAudit is a platform designed to provide a more diverse
                    means of detecting security risks. This platform is developed by
                    the team of SDU Software Cybersecurity Class.
                </p>
            </div>
            <div class="col-md-4 my-3">
                <h6>Links</h6>
                <ul class="list-unstyled">
                    <li>
                        Important: <a href="#">Terms & Conditions</a>,
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        Useful: <a href="#">Icon Library</a>,
                        <a href="#">Illustrations</a>
                    </li>
                    <li>
                        Menu: <a href="#">Home</a>, <a href="#">Details</a>,
                        <a href="#">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 my-3">
                <div class="mb-4">
                    <a href="#" class="text-decoration-none">
                        <i class="fab fa-facebook fa-3x text-dark mx-2"></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fab fa-twitter fa-3x text-dark mx-2"></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fab fa-instagram fa-3x text-dark mx-2"></i>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fab fa-pinterest fa-3x text-dark mx-2"></i>
                    </a>
                </div>
                <p>
                    We would love to hear from you
                    <a href="https://mail.google.com/"
                    ><strong>G1282459418@Gmail.com</strong></a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>

<button id="to-top" class="to-top-btn">
    <img src="/static/images/up-arrow.png" alt=""/>
</button>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
